
<router-outlet></router-outlet>

<!-- BEM model -->
<!-- BLOCK, ELEMENT, MODIFIER elnevezésekre konvenció
        class neve, ahogy magát az elemet hívják, pl. <button class="button">
        gyerekelemeit specifikusan elnev.: melyik elem gyereke, pl. button__icon
        modifier, pl. class="button--blue"
-->

<button class="button button--blue">
  <img class="button__icon" src="../favicon.ico">
  <p class="button__label">BEM 1</p>
</button>

<button class="button button--red">
  <img class="button__icon" src="../favicon.ico">
  <p class="button__label">BEM 2</p>
</button>

<!--foreach-->

<button class="social-login-button--facebook">Facebook</button>
<button class="social-login-button--google">Google</button>
<button class="social-login-button--linkedin">Linkedin</button>

<!-- placeholder -->

<button class="button button--error">ERROR</button>
<button class="button button--success">SUCCESS</button>

